*,
*::after,
*::before {
  margin: 0;
  // box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

// -- Varables --
$color-black: #000;
$color-white: #fff;
$color-red: #ec5021;
$color-dark-grey: rgb(92, 89, 89);
$color-light-grey: #a8c2c782;
$bold-font: 2rem;
.header {
  height: 50vh;
  background-position: center;
  background-image: url(./img/bg-hub-locker.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

li {
  list-style: none;
}

.btn-text {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  color: $color-black;
  font-weight: 440;
}

.font-big {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 450;
}
.font-medium {
  font-size: 2rem;
}

.navbar__logo {
  width: 12rem;
  height: 4rem;
}
.font-light {
  color: $color-white;
}
.btn-active {
  color: $color-white;
  border-radius: 3rem;
  background-color: rgba(99, 95, 95, 0.7);
  text-transform: uppercase;
}
.bg-light {
  background-color: $color-white;
  padding: 0 0.3rem;
  color: $color-red;
}

.font-grey {
  color: $color-dark-grey;
}

.header__search_input {
  font-size: $bold-font;
  color: $color-dark-grey;
  border: none;
  #e0dcdc &:focus {
    outline: none;
  }
}

.navbar__nav {
  background-color: #a08a0a;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & ul {
    display: flex;
  }
}

// Form
.header__search-container {
  padding-top: 6rem;
  padding-left: 3rem;
}

.header__search_block {
  background-color: #ec5021;
  padding: 1.5rem 2rem 0 2rem;
  height: 80%;
}

.header__form {
  background-color: rgb(255, 255, 255);
  padding: 1rem 3rem;
  display: flex;
  width: 45%;
  height: 5rem;
  justify-content: space-between;
}

.header__footer {
  background-color: $color-light-grey;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
  box-sizing: border-box;
}

.header__sorting {
  display: flex;
}

.main__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;

  box-sizing: border-box;
}

.main__right-pane {
  width: 80%;
}

.main__right-filter-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0;
}
.main__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.2rem solid $color-white;
  font-size: 1.5rem;

  & td {
    text-align: left;
    padding: 1.6rem;
  }

  & .tr-body {
    border-bottom: 1rem solid $color-white;
    background-color: $color-light-grey;
  }
}

.main__left-pane {
  & .main__left-locker-img {
    width: 20rem;
  }
}
