*,
*::after,
*::before {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(33, 37, 32, 0.5), rgba(36, 39, 38, 0.5)), url(./img/bg-hub-locker.jpg);
  background-size: cover;
  position: relative;
  background-position: top; }

li {
  list-style: none; }

.btn-text {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 2rem;
  color: #000;
  font-weight: 440; }

.logo__icon {
  width: 2rem;
  height: 4rem; }

.navigation {
  background-color: #a08a0a;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navigation ul {
    display: flex; }
