*,
*::after,
*::before {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

.header {
  height: 50vh;
  background-position: center;
  background-image: url(./img/bg-hub-locker.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

li {
  list-style: none; }

.btn-text {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  color: #000;
  font-weight: 440; }

.font-big {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 450; }

.font-medium {
  font-size: 2rem; }

.navbar__logo {
  width: 12rem;
  height: 4rem; }

.font-light {
  color: #fff; }

.btn-active {
  color: #fff;
  border-radius: 3rem;
  background-color: rgba(99, 95, 95, 0.7);
  text-transform: uppercase; }

.bg-light {
  background-color: #fff;
  padding: 0 0.3rem;
  color: #ec5021; }

.font-grey {
  color: #5c5959; }

.header__search_input {
  font-size: 2rem;
  color: #5c5959;
  border: none; }
  #e0dcdc .header__search_input:focus {
    outline: none; }

.navbar__nav {
  background-color: #a08a0a;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__nav ul {
    display: flex; }

.header__search-container {
  padding-top: 6rem;
  padding-left: 3rem; }

.header__search_block {
  background-color: #ec5021;
  padding: 1.5rem 3rem 0 3rem;
  height: 80%; }

.header__form {
  background-color: white;
  padding: 1rem 3rem;
  display: flex;
  width: 45%;
  height: 5rem;
  justify-content: space-between; }

.header__footer {
  background-color: #cccccc;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
  box-sizing: border-box; }

.header__sorting {
  display: flex; }

.main__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box; }

.main__right-pane {
  width: 80%; }

.main__right-filter-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0; }

.main__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.2rem solid #fff;
  font-size: 1.5rem; }
  .main__table td {
    text-align: left;
    padding: 1.6rem; }
  .main__table .tr-body {
    border-bottom: 1rem solid #fff;
    background-color: #cccccc; }

.main__left-pane .main__left-locker-img {
  width: 20rem; }
