*,
*::after,
*::before {
  margin: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif; }

.header {
  height: 50vh;
  background-position: center;
  background-image: url(./img/bg-hub-locker.webp);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative; }

li {
  list-style: none; }

.pd-2 {
  padding: 0 2rem; }

.btn-primary {
  text-decoration: none;
  color: #fff;
  background: #10ac498f;
  padding: 0.5rem 5rem;
  font-size: 1.8rem;
  border-radius: 0.6rem; }

.btn-text {
  font-size: 1.6rem;
  text-decoration: none;
  padding: 1rem 2.5rem;
  color: #000;
  font-weight: 440; }

.font-big {
  font-size: 4rem;
  margin: 2rem 0;
  font-weight: 450; }

.font-medium {
  font-size: 2rem; }

.navbar__logo {
  width: 12rem;
  height: 4rem; }

.font-light {
  color: #fff; }

.btn-active {
  color: #fff;
  border-radius: 3rem;
  background-color: rgba(99, 95, 95, 0.7);
  text-transform: uppercase; }

.bg-light {
  background-color: #fff;
  padding: 0 0.3rem;
  color: #ec5021; }

.font-grey {
  color: #5c5959; }

.header__search_input {
  font-size: 2.3rem;
  color: #5c5959;
  background-color: transparent;
  border: none; }
  .header__search_input:focus {
    outline: none; }

.navbar__nav {
  background-color: #a08a0a;
  height: 6rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .navbar__nav ul {
    display: flex; }

.header__search-container {
  padding-top: 6rem;
  padding-left: 3rem; }

.header__search_block {
  background-color: #ec5021;
  padding: 1.5rem 3rem 0 3rem;
  height: 80%; }

.header__form {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 1rem 3rem;
  display: flex;
  width: 45%;
  height: 5rem;
  justify-content: space-between; }

.header__footer {
  background-color: #efefef;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
  box-sizing: border-box; }

.header__sorting {
  display: flex; }

.main__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box; }

.main__right-pane {
  width: 80%; }

.main__right-filter-section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem 0; }

.main__table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0.2rem solid #fff;
  font-size: 1.5rem; }
  .main__table td {
    text-align: left;
    padding: 1.6rem; }
  .main__table .tr-body {
    border-bottom: 1rem solid #fff;
    background-color: #efefef; }

.main__left-pane .main__left-locker-img {
  width: 20rem;
  height: 23rem; }

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem; }

.main__right-filter-section {
  padding-bottom: 2rem;
  margin-bottom: 4rem;
  border-bottom: 1px solid #a08a0a; }

.select-container {
  position: relative; }

.center-table {
  display: table;
  width: 100%;
  height: 100%; }

.center-table .center-cell {
  display: table-cell;
  vertical-align: middle; }

#select-box {
  min-width: 320px;
  max-width: 30%;
  width: 100%;
  margin: 0 auto;
  padding: 8em;
  text-align: center;
  background: #fff; }

.faux-select {
  font-size: 1.2rem;
  font-weight: 500;
  list-style-type: none;
  padding: 0.4em 0;
  background: #9a9a9a;
  color: #3e3b3b;
  text-align: left;
  cursor: pointer;
  width: 180px;
  display: inline-block;
  position: relative; }

.faux-select li {
  padding: 0;
  text-indent: 1em;
  position: relative; }

.faux-select li .options {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0.4em 0 0 0;
  background: transparent;
  position: absolute;
  width: 100%;
  max-height: 0px;
  overflow: hidden;
  top: 1.2em;
  transition: all ease 0.25s; }

.faux-select li .options li {
  padding: 1em 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4); }

.faux-select li .options li:hover {
  background: #cfcfcf; }

.faux-select li .options li:last-of-type {
  border-bottom: 0; }

.faux-select li .options.open {
  font-size: 1.2rem;
  font-weight: 500;
  background: #9a9a9a;
  max-height: 100rem; }

.faux-select:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-top: 0.8em solid #000;
  position: absolute;
  top: 0.5em;
  right: 1em;
  transition: all ease 0.25s; }

.faux-select.open:before {
  border-left: 0.5em solid transparent;
  border-right: 0.5em solid transparent;
  border-bottom: 0.8em solid #000;
  border-top: 0; }

.open {
  background: #9a9a9a;
  max-height: 1000%;
  border-top: 3px solid transparent; }

.rental-success {
  font-size: 3rem;
  color: brown;
  text-align: center;
  padding: 20rem 0 1rem 0; }

.back-container {
  width: 19rem;
  margin: auto;
  padding: 4rem 0; }

.btn-back {
  text-decoration: none;
  background-color: #ad9a99;
  font-size: 1.5rem;
  padding: 1rem 3rem; }
